/*
Creation date: 13.7.2024
Modification date: 14.7.2024

It was probably not the best solution to use images for buttons, but hey, we got the tractor now!!!
*/

.MainButton{
    margin-left: 2px;
	margin-right: 2px;
    cursor: pointer;
    border: none;
    width: 199px;
    height: 45px;
	background: url(Assets/UI/MainButton.png);
	background-size: cover;
}

.MainButton:hover{
    background: url(Assets/UI/MainButtonActive.png);
	background-size: cover;
	width: 222px;
	height: 45px;
}

.LS08Button{
    margin-left: 2px;
	margin-right: 2px;
    cursor: pointer;
    border: none;
    width: 188px;
    height: 45px;
	background: url(Assets/UI/LS08Button.png);
	background-size: cover;
}

.LS08Button:hover{
    background: url(Assets/UI/LS08ButtonActive.png);
	background-size: cover;
}

.LS09Button{
	margin-left: 2px;
	margin-right: 2px;
    cursor: pointer;
    border: none;
    width: 188px;
    height: 45px;
	bottom: 0;
	background: url(Assets/UI/LS09Button.png);
	background-size: cover;
}

.LS09Button:hover{
    background: url(Assets/UI/LS09ButtonActive.png);
	background-size: cover;
}

.KomeoButton{
	margin-left: 2px;
	margin-right: 2px;
    cursor: pointer;
    border: none;
    width: 210px;
    height: 45px;
	bottom: 0;
	background: url(Assets/UI/KomeoButton.png);
	background-size: cover;
}

.KomeoButton:hover{
    background: url(Assets/UI/KomeoButtonActive.png);
	background-size: cover;
	width: 235px;
	height: 45px;
}

.DropdownButton{
    cursor: pointer;
    border: none;
    width: 268px;
    height: 45px;
}

#GeneralInfoButton{
	background: url(Assets/UI/GIButton.png);
	background-size: cover;
}

.D1:hover #GeneralInfoButton{
	background: url(Assets/UI/GIButtonActive.png);
	background-size: cover;
}

#TechnicalInfoButton{
	background: url(Assets/UI/TIButton.png);
	background-size: cover;
}

.D2:hover #TechnicalInfoButton{
	background: url(Assets/UI/TIButtonActive.png);
	background-size: cover;	
}

#ModdingHistoryButton{
	background: url(Assets/UI/MHButton.png);
	background-size: cover;
}

.D3:hover #ModdingHistoryButton{
	height: 54px;
	background: url(Assets/UI/MHButtonActive.png);
	background-size: cover;
}

#ModdingTutorialsButton{
	height: 54px;
	background: url(Assets/UI/MTButton.png);
	background-size: cover;
}

.D4:hover #ModdingTutorialsButton{
	height: 54px;
	background: url(Assets/UI/MTButtonActive.png);
	background-size: cover;
}

#ImageGalleryButton{
	background: url(Assets/UI/IGButton.png);
	background-size: cover;
}

.D5:hover #ImageGalleryButton{
	background: url(Assets/UI/IGButtonActive.png);
	background-size: cover;
}